
target/
dbt_packages/
logs/
beejanride-47eac0bd8ea1.json
env
profiles.yml
Beejan.drawio.png 
cvsp.png 
daily_revenue.png 
dbtdocs.png 
dbtdocs1.png 
image.png 
lineage graph.png 
Lineage.png 
payment_failure_rate.png 
Screenshot 2026-03-08 215545.png 
Screenshot 2026-03-08 215754.png 
surge.png 
top_driver.png